.helloWorld p{
    margin-left: 20px;
    margin-top: 2px;
    text-align: left;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    border-style: solid;
    display: block;
    width:fit-content;
    float: left;
}
.img img{
   width: 300px;
   display: block;
   border-style: solid;
   border-color: black;
   border-radius: 50%;
   float: left;
}