.App{
    text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: aliceblue;

  display: grid;
  grid-template-areas: 
  "h h h"
  "n c c"
  ;
  grid-template-rows: 50px;
  grid-template-columns: 20% 80%;
}

